.base_container {
  padding: 0;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #FFFFFF;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ae/Castle_Neuschwanstein.jpg");
  background-size: 100%;
}

.content_container {
  width: 650px;
  background-color: rgba(75, 71, 163, 0.5);
  border: 2px solid blue;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px black;
}

/* Container for the option buttons */
.button_container {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling options for the text input container */
.text-input-class {
  width: 25%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 25px;
}

/* Make button background black when hovered upon */
.buttonClass, .name_button {
  background-color: #4B46B2;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 8px 8px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
}

/* Make button background black when hovered upon */
.button:hover, .name_button:hover {
  background-color: #000000;
}

#text {
  padding: 25px 25px 25px 25px;
}
