.base_container {
  padding: 0;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #FFFFFF;
  background-image: url("images/backgrounds/castle_background.jpg");
  background-position: center;
  padding: 50px 0px 50px;
}

.content_container {
  width: 800px;
  background-color: rgba(80, 80, 80, 0.7);
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 5px black;
}

/* Container for the option buttons */
.button_container {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling options for the text input container */
.text-input-class {
  width: 25%;
  margin: 0 auto;
  padding: 0 0 10px;
}

/* Make button background black when hovered upon */
.buttonClass, .name_button {
  background-color: rgba(80, 80, 80, 0.7);
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px 8px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
}

/* Make button background black when hovered upon */
.button:hover, .name_button:hover {
  background-color: #000000;
}

#text {
  padding: 10px;
}
