h1 {
  font-family: 'Orbitron', sans-serif;
}

nav {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px
}

footer {
  font-style: italic;
}

section {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 80px;
  margin-left: 80px;
}

header {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
